@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*
 * Fonts
 *
 */
/*
 * Colors
 *
 */
/*
 * Grid
 *
 */
/*
 * Animation Speed
 *
 */
/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation */
/* 6 Misc */
/*
 * Colors
 *
 */
/*
 * Fonts
 *
 */
/*
 * Blocks
 *
 */
body {
  /* 2 Block model */
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #000000; }

p,
ul {
  /* 2 Block model */
  padding: 0;
  margin: 0; }

.wrapper {
  /* 2 Block model */
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; }

a {
  color: #1890FF;
  text-decoration: none; }

a:hover {
  color: #40A9FF; }

.table-wrapper {
  overflow-x: auto; }

.logo {
  /* 2 Block model */
  display: block;
  width: 100%;
  max-width: 113px; }

.logo img {
  /* 2 Block model */
  display: block;
  width: 100%; }

.h1 {
  /* 2 Block model */
  margin: 0;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  color: rgba(0, 0, 0, 0.85); }

.text {
  /* 2 Block model */
  margin: 0;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: #000000; }

.icon {
  /* 2 Block model */
  display: inline-block;
  width: 16px;
  height: 16px; }

.btn {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px 14px;
  margin: 0;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  vertical-align: middle;
  /* 4 Visual */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1890FF;
  border: 1px solid #1890FF;
  border-radius: 2px;
  outline: none;
  /* 5 Animation */
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; }

.btn:hover {
  /* 4 Visual */
  background-color: #40A9FF;
  border: 1px solid #40A9FF; }

.btn:focus {
  /* 4 Visual */
  background-color: #40A9FF;
  border: 1px solid #40A9FF; }

.btn .icon {
  /* 2 Block model */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  /* 4 Visual */
  fill: #ffffff;
  /* 5 Animation */
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.btn:hover .icon {
  /* 4 Visual */
  fill: #000000; }

.btn .icon:first-child:not(:last-child) {
  /* 2 Block model */
  margin-right: 15px; }

.btn .icon:last-child:not(:first-child) {
  /* 2 Block model */
  margin-left: 15px; }

/* -------------------------------------------- */
/*
 * Modifiers
 *
 */
.btn--red {
  /* 4 Visual */
  background-color: #FF4D4F;
  border: 1px solid #FF4D4F; }

.btn--red:hover {
  /* 4 Visual */
  background-color: #FF7875;
  border: 1px solid #FF7875; }

.btn--red:focus {
  /* 4 Visual */
  background-color: #FF7875;
  border: 1px solid #FF7875; }

.btn--sm {
  font-size: 14px;
  line-height: 17px; }

.btn--block {
  /* 2 Block model */
  width: 100%; }

.btn--outline {
  color: rgba(0, 0, 0, 0.85);
  /* 4 Visual */
  background: none;
  border: 1px solid #1890FF; }

.btn--outline:hover,
.btn--outline:active,
.btn--outline:focus {
  /* 3 Typography */
  color: #FFFFFF;
  /* 4 Visual */
  background: #40A9FF;
  border: 1px solid #40A9FF; }

.btn--outline-red {
  color: rgba(0, 0, 0, 0.85);
  /* 4 Visual */
  background: none;
  border: 1px solid #FF4D4F; }

.btn--outline-red:hover,
.btn--outline-red:active,
.btn--outline-red:focus {
  /* 3 Typography */
  color: #ffffff;
  /* 4 Visual */
  background: #FF7875;
  border: 1px solid #FF7875; }

.btn--outline-red .icon {
  fill: #FF4D4F; }

.btn--outline-red:hover .icon,
.btn--outline-red:active .icon,
.btn--outline-red:focus .icon {
  fill: #FFFFFF; }

.btn--outline-grey {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 20px;
  /* 4 Visual */
  background: none;
  border: 1px solid #D9D9D9; }

.btn--outline-grey:hover,
.btn--outline-grey:active,
.btn--outline-grey:focus {
  /* 3 Typography */
  color: rgba(0, 0, 0, 0.85);
  /* 4 Visual */
  background: #D9D9D9;
  border: 1px solid #D9D9D9; }

.btn--outline-grey .icon--plus-2 {
  width: 9px;
  height: 9px; }

.btn--outline-grey .icon:first-child:not(:last-child) {
  margin-right: 8px; }

.btn--add {
  padding: 5px 19px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 40px; }

.btn--add .icon {
  display: block;
  width: 14px;
  height: 14px; }

.btn--add .icon:first-child:not(:last-child) {
  margin-right: 8px; }

.btn--dashed {
  color: rgba(0, 0, 0, 0.85);
  border: 1px dashed #D9D9D9;
  background: none; }

.btn--dashed:hover,
.btn--dashed:active,
.btn--dashed:focus {
  /* 3 Typography */
  color: rgba(0, 0, 0, 0.85);
  /* 4 Visual */
  background: #D9D9D9;
  border: 1px solid #D9D9D9; }

.btn--icon-only {
  padding: 0;
  width: 30px;
  height: 32px; }

.btn--icon-only .icon--minus {
  width: 9px;
  height: 2px; }

.input {
  position: relative;
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.input label {
  /* 2 Block model */
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85); }

.input__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 14px;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 2px; }

.input__desc {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.25); }

.input input {
  /* 2 Block model */
  margin: 0;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  width: 100%;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
  /* 4 Visual */
  background: none;
  border: none;
  outline: none; }

.input input::-webkit-input-placeholder {
  /* 3 Typography */
  color: rgba(0, 0, 0, 0.45); }

.input input::-moz-placeholder {
  /* 3 Typography */
  color: rgba(0, 0, 0, 0.45);
  text-overflow: ellipsis;
  /* 4 Visual */
  opacity: 1; }

.input input:-moz-placeholder {
  /* 3 Typography */
  color: rgba(0, 0, 0, 0.45);
  text-overflow: ellipsis;
  /* 4 Visual */
  opacity: 1; }

.input input:-ms-input-placeholder {
  /* 3 Typography */
  color: rgba(0, 0, 0, 0.45);
  text-overflow: ellipsis; }

.input input[placeholder] {
  /* 3 Typography */
  text-overflow: ellipsis; }

.input input:hover {
  /* 4 Visual */
  cursor: pointer; }

.input input:disabled {
  cursor: default; }

.input__error {
  position: relative;
  z-index: 1;
  margin-top: -2px;
  padding: 12px 17px 15px 17px;
  background-color: #FFF2F0;
  border: 1px solid #FFCCC7;
  border-top: none;
  border-radius: 0 0 2px 2px; }

.input__error-title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.85); }

.input__error-text {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.85); }

.select {
  /* 1 Positioning */
  position: relative;
  width: 100%; }

.select select {
  display: block;
  width: 100%;
  padding: 6px 10px 5px 10px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  outline: none; }

.checkbox {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9px 0;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.85); }

.checkbox label {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 14px;
  padding-left: 0;
  /* 3 Typography */
  text-align: left;
  /* 6 Sundry */
  cursor: pointer; }

.checkbox input {
  margin: 0;
  margin-right: 5px;
  opacity: 0; }

.checkbox input[type="checkbox"] + span {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  /* 2 Block model */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 13px;
  height: 13px;
  /* 4 Visual */
  background: none;
  border: 1px solid #D9D9D9;
  border-radius: 3px; }

.checkbox input[type="checkbox"] + span::before {
  /* 4 Visual */
  content: none; }

.checkbox input[type="checkbox"]:checked + span {
  /* 4 Visual */
  background-color: #1890FF;
  border: 1px solid #1890FF; }

.checkbox input[type="checkbox"]:checked + span::before {
  /* 1 Positioning */
  position: absolute;
  top: 2px;
  left: 1px;
  /* 2 Block model */
  display: block;
  width: 9px;
  height: 7px;
  /* 4 Visual */
  content: "";
  background: none;
  background-image: url(/images/checkbox--checked.svg);
  /* 5 Animation */
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
  transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: rgba(0, 0, 0, 0.45); }

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: rgba(0, 0, 0, 0.45); }

.action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer; }

.action-btn .icon {
  display: block;
  height: 16px;
  fill: rgba(0, 0, 0, 0.25); }

.action-btn .icon--play {
  width: 14px; }

.action-btn .icon--stop {
  width: 12px; }

.action-btn--active .icon {
  fill: #1890FF; }

.margin--b-24 {
  margin-bottom: 24px; }

.margin--b-30 {
  margin-bottom: 30px; }

.margin--b-36 {
  margin-bottom: 36px; }

.margin--b-63 {
  margin-bottom: 63px; }

.margin--b-68 {
  margin-bottom: 68px; }

.menu__list {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  /* 4 Visual */
  list-style: none; }

.menu__item {
  position: relative;
  /* 2 Block model */
  margin-right: 24px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__item:last-child {
  /* 2 Block model */
  margin-right: 0; }

.menu a {
  /* 3 Typography */
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85); }

.menu__item--active::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #1890FF; }

.menu__item--active a {
  color: #1890FF; }

.table-head th {
  /* 2 Block model */
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 10px;
  /* 3 Typography */
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  text-align: left;
  /* 4 Visual */
  background-color: #FAFAFA; }

.table-item {
  border-bottom: 1px solid #F0F0F0; }

.table-item td {
  /* 2 Block model */
  padding-top: 24px;
  padding-bottom: 23px;
  padding-right: 10px;
  padding-left: 10px;
  /* 3 Typography */ }

.table-add-action-item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.table-add-action-item__buttons button {
  margin-right: 5px; }

.table-add-action-item__buttons button:last-child {
  margin-right: 0; }

.table {
  /* 2 Block model */
  width: 100%;
  overflow: hidden;
  /* 4 Visual */
  border-collapse: collapse; }

.table--add-action {
  border-radius: 2px 2px 0 0; }

.table--add-action .table-head {
  border-bottom: 1px solid #F0F0F0; }

.table--add-action .table-head th {
  /* 2 Block model */
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 10px;
  /* 3 Typography */
  font-size: 14px;
  line-height: 24px; }

.table--add-action .table-head th:first-child {
  padding-left: 18px; }

.table--add-action .table-head th:last-child {
  padding-right: 0; }

.table--add-action .table-item td {
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 17px; }

.table--add-action .table-item td:first-child {
  padding-left: 18px; }

.table--add-action .table-item td:last-child {
  padding-right: 0; }

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33px;
  flex: 0 0 33px;
  width: 33px;
  height: 33px;
  margin-right: 8px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%; }

.step__number .icon {
  display: none;
  width: 14px;
  fill: #1890FF; }

.step__title {
  font-size: 16px;
  line-height: 34px;
  color: rgba(0, 0, 0, 0.45); }

.step__desc {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.45); }

.step--active .step__number {
  color: #FFFFFF;
  border: 1px solid #1890FF;
  background-color: #1890FF; }

.step--active .step__title {
  color: rgba(0, 0, 0, 0.85); }

.step--active .step__desc {
  color: rgba(0, 0, 0, 0.85); }

.step--done .step__number {
  border: 1px solid #1890FF; }

.step--done .step__number .icon {
  display: block; }

.step--done .step__number span {
  display: none; }

.step--done .step__title {
  color: rgba(0, 0, 0, 0.85); }

.step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 991px) {
    .step-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.step-list__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.step-list__divider {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  width: 80px;
  height: 1px;
  margin: 0 16px;
  margin-top: 16px;
  background-color: #F0F0F0; }
  @media (max-width: 991px) {
    .step-list__divider {
      display: none; } }

.step-list__item:last-child .step-list__divider {
  display: none; }

.step-list__item--done .step-list__divider {
  background-color: #1890FF; }

.form-item__title {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85); }

.form-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 991px) {
    .form-product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form-product__number {
  width: 38px;
  margin-top: -3px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85); }

.form-product__body {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding-right: 94px; }

.form-product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px; }

.form-product__row:last-child {
  margin-bottom: 0; }

.form-product__col-12 {
  width: 100%; }

.form-product__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 991px) {
    .form-product__col {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form-product__col .form-item {
  margin-right: 12px; }

.form-product__col .form-item:last-child {
  margin-right: 0; }

.form-product__img {
  width: 189px; }

.form-product__img-title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.85); }

.form-product__img img {
  display: block;
  width: 142px; }

.form-product__w-asin {
  width: 71px; }

.form-product__w-asin--lg {
  width: 164px; }

.form-product__w-img-url {
  width: 140px; }

.form__block {
  padding-left: 38px;
  max-width: 455px; }
  @media (max-width: 991px) {
    .form__block {
      padding-left: 0; } }

.form__block-lg {
  max-width: 776px; }

.header {
  position: relative;
  /* 4 Visual */
  -webkit-box-shadow: 0px 4px 5px rgba(218, 222, 225, 0.25);
  box-shadow: 0px 4px 5px rgba(218, 222, 225, 0.25); }

.header__body {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1150px;
  height: 60px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header__menu {
  padding-right: 31px; }
  @media (max-width: 767px) {
    .header__menu {
      position: fixed;
      top: 65px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 60px;
      width: 100%;
      height: calc(100vh - 65px);
      background: #FFFFFF; } }

.header__menu--show {
  display: block; }

@media (max-width: 767px) {
  .header__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 767px) {
  .header__menu .menu__item {
    margin-right: 0;
    margin-bottom: 0; } }

@media (min-width: 768px) {
  .header__hamburger {
    display: none; } }

.page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 53px;
  padding-bottom: 98px;
  width: 100%;
  max-width: 1062px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.page--lg {
  max-width: 1203px; }

.product-section__header {
  margin-bottom: 26px; }

.product-section__item {
  margin-bottom: 20px; }

.product-section__item:last-child {
  margin-bottom: 0; }

.product-section__footer {
  padding-top: 31px;
  padding-left: 38px; }

.page-add-action {
  padding-top: 2px; }

.page-add-action__header {
  margin-bottom: 36px; }

.page-step1__step-list {
  margin-bottom: 36px; }
